<div class="row agenda-row" ng-app="ddd" ng-controller="agendaCtrl">
    <h2>Agenda</h2>

    <p class="blurb text-center">
        Click on a session to display more detail
    </p>

    <table class="responsive">
        <thead>
            <tr>
                <th>
                    <strong>&nbsp;</strong>
                    &nbsp;
                </th>
                <th class="green-stream">
                    <strong>Green</strong>
                    CB06.03.28 - main hall
                </th>
                <th class="blue-stream">
                    <strong>Blue</strong>
                    CB06.03.022
                </th>
                <th class="red-stream">
                    <strong>Red</strong>
                    CB06.03.056
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="breadth-row">
                <td class="time">08:20</td>
                <td colspan="3" class="breadth">
                    Registration
                </td>
            </tr>

            <tr class="breadth-row">
                <td class="time">08:50</td>
                <td colspan="3" class="breadth">
                    <strong>Welcome and house keeping</strong><br/>
                </td>
            </tr>

            <tr class="key-row">
                <td class="time">09:00</td>
                <td colspan="3" class="breadth session" data-session-id="keynote" ng-click="showSession(keynote)">
                    <strong>Keynote - Integration lessons for the green-field developer</strong><br />
                    <em>Udi Dahan</em>
                </td>
            </tr>

            <tr data-ng-repeat="timeslot in rawSessions.timeslots" data-ng-class="{ 'breadth-row': timeslot.break, 'presentation-row session': !timeslot.break }">
                <td class="time">{{timeslot.time}}</td>
                <td data-ng-if="timeslot.break" colspan="3">{{timeslot.title || 'Break'}}</td>

                <td data-ng-repeat="session in timeslot.sessions" data-ng-click="showSession(session)">
                    <strong>{{session.SessionTitle}}</strong>
                    <em>{{session.PresenterName}}</em>
                </td>
            </tr>

            <tr class="key-row">
                <td class="time">16:30</td>
                <td colspan="5" class="breadth session" data-session-id="locknote" ng-click="showSession(locknote)">
                    <strong>Locknote - Panel session</strong><br />
                    <em>John Allsopp, Richard Banks, more to come</em>
                </td>
            </tr>

            <tr class="breadth-row">
                <td class="time">17:15</td>
                <td colspan="5" class="breadth">
                    Giveaways and wrap-up
                </td>
            </tr>

            <tr class="breadth-row">
                <td class="time">18:00</td>
                <td colspan="5" class="breadth">
                    Afterparty to be determined
                </td>
            </tr>
        </tbody>
    </table>

    <div id="session-modal" class="reveal-modal" ng-show="ShowDetail">
        <h5>{{SessionTitle}}</h5>
        <p>{{PresenterName}}
            <a href="http://www.twitter.com/{{PresenterTwitterAlias}}" target="_blank" ng-show="PresenterTwitterAlias!=null">@@{{PresenterTwitterAlias}}</a>
            <a href="http://{{PresenterWebsite}}" target="_blank" ng-show="PresenterWebsite!=null">{{PresenterWebsite}}</a>
        </p>

        <p ng-bind-html-unsafe="SessionAbstract" />

    </div>
</div>

@section optionalScripts
{
    @Scripts.Render("~/bundles/angular")

    <script src="~/Scripts/app/agendaCtrl.js"></script>
}