<div class="row">
    <h2>Have a chat with our bot</h2>
    
    <p>
        We created a bot to help you find yourself during the day. You can ask about talks, rooms and speakers.
    </p>
    <p>
        Try asking "When is Tatham's talk?" or "What's happening on Red room?" or "What's going on at 3PM?"
    </p>
    <p>
        Try it on Facebook Messenger
        <br/>
        <a href='https://www.messenger.com/t/1400661733321529'><img src='https://facebook.botframework.com/Content/MessageUs.png'></a>
    </p>

    <iframe width="100%" height="650" src='https://webchat.botframework.com/embed/dddSydney17?s=KAkzHmGETSk.cwA.Qes.I2xu0RB940tT1vSxQW3KDj2BVNKg_UJ56WKZwXH_jsc'></iframe>
</div>

@Html.Partial("Footer")