<footer>
    <ul>
        <li>@Html.RouteLink("Code of conduct", "code-of-conduct", null, new { })</li>
        <li><a href="https://twitter.com/dddsydney" target="_blank">Twitter</a></li>
    </ul>
</footer>