<div class="panel">
    <h4>Important dates</h4>
    <ul>
        <li>3rd May - @Html.ActionLink("Call for content opens", "Submit", "Main")</li>
        <li><a href="https://www.eventbrite.com.au/e/ddd-sydney-2017-tickets-34497049604" target="_blank">10th May - Early bird tickets</a></li>
        <li>4th June - Submission closes</li>
        <li>5th June - Voting opens</li>
        <li>14th June - Early bird tickets end</li>
        <li>14th June - GA tickets on sale</li>
        <li>23rd June - Voting closes</li>
        <li>@*@Html.ActionLink("24th May - Agenda published", "Agenda", "Main")*@24th June - Agenda published</li>
        <li>15th July - DDD Sydney day!</li>
    </ul>
</div>