<div class="panel">
    <h4>Important dates</h4>
    <ul>
        <li>Late April - Call for content opens</li>
        <li><a href="#" target="_blank">Late April - Early bird tickets</a></li>
        <li>Late May - Submission closes</li>
        <li>Late May - Voting opens</li>
        <li>Mid June - Voting closes</li>
        @*<li>@Html.ActionLink("9th May - Agenda published", "Agenda", "Main")</li>
        <li>13th May - GA tickets on sale</li>*@
    </ul>
</div>