<div class="panel">
    <h4>Important dates</h4>
    <ul>
        <li  class="done">1st April - Call for content opens</li>
        <li><a href="https://www.eventbrite.com.au/e/ddd-sydney-tickets-24335111975" target="_blank">19th April - Early bird tickets</a></li>
        <li class="done">22nd April - Submission closes</li>
        <li class="done">25th April - Voting opens</li>
        <li class="done">1st May - Voting closes</li>
        <li class="done">@Html.ActionLink("9th May - Agenda published", "Agenda", "Home")</li>
        <li>13th May - GA tickets on sale</li>
    </ul>
</div>