<div class="panel">
    <h4>Important dates</h4>
    <ul>
        <li>@Html.ActionLink("1st April - Call for content opens", "Submit", "Main")</li>
        <li><a href="https://www.eventbrite.com.au/e/ddd-sydney-tickets-24335111975" target="_blank">19th April - Early bird tickets</a></li>
        <li>22nd April - Submission closes</li>
        <li>25th April - Voting opens</li>
        <li>1st May - Voting closes</li>
        <li>9th May - Agenda published</li>
        <li>13th May - GA tickets on sale</li>
    </ul>
</div>