<div class="copy-block row">
    <div class="large-12 columns">
        <h4>Keynote - Tatham Oddie</h4>
    </div>

    <div class="small-2 columns">
        <img src="https://www.gravatar.com/avatar/@Html.GenerateGravatar("tatham@oddie.com.au")" title="Tatham Oddie Profile Pic" />
    </div>
    <div class="small-10 columns">
        <p>
            <strong>TBD</strong>
        </p>
        <p>
            Coming soon
        </p>

        <p>
            <em>With experience ranging from his own small businesses, to large multi-year multi-vendor banking programs, Tatham has developed a deep understanding of the complete lifecycle of IT programs and their surrounding business drivers. He is a regular presenter at conferences and events throughout Australia, North America, and Europe. In his role as Readify's CIO, Tatham helps Readify improve its own processes, as well as those of our customers.</em>
        </p>
    </div>

    <div class="large-12 columns">
        <h4>Locknote - Katie McLaughlin</h4>
    </div>

    <div class="small-2 columns">
        <img src="https://www.gravatar.com/avatar/@Html.GenerateGravatar("katie@glasnt.com")" title="Katie McLaughlin  Profile Pic" />

    </div>
    <div class="small-10 columns">

        <p>
            <strong>JavaScript is Awe-Ful</strong>
        </p>

        <p>
            JavaScript is an incredibly powerful language, and thanks to its renaissance, it now has uses that extend beyond the browser.

            However, being a language that's extremely accessible, with a shallow learning curve and large userbase, it's the subject of - at times - vitriolic abuse from other language communities.

            Yes, JavaScript was created in a very short timeframe, and there are inherent issues with some very early design decisions that can cause some grief to developers. However, as the engine that powers the web, it's able to prove it's versatility and usefulness. So why the hate?

            In this talk, we will discuss the history of JavaScript, it's future, and how some it's 'wat's can be avoided in everyday use in other to leverage the power of this universal language. We will also take a short tour through over a dozen other languages and some of their quirks, to prove how no language is without fault.
        </p>

        <p>
            <em>Katie has worn many different hats over the years. She has been a software developer for many languages, systems administrator for multiple operating systems, and speaker on many different topics. When she's not changing the world, she enjoys cooking, making tapestries, and yelling at JavaScript and its attempt at global variables.</em>
        </p>

    </div>
</div>
