@{
    ViewBag.Title = "User Groups";
}

<div class="copy-block row">
    <div class="large-12 columns">
        <h4 id="user-groups">User Groups</h4>
    </div>
    <div class="small-12 columns">
        <p>
            Community is a really important part of the DDD Sydney ethos and we couldn't do what we do without the support of many different User Groups around Sydney.
        </p>
        <p>
            So if you've got a spare evening, head on down to a User Group, hang out with other like-minded people and keep the community spirit going.
        </p>
    </div>

    <div class="small-12 columns">
        <h5 id="altnet">ALT.NET Sydney (<a href="https://www.meetup.com/Sydney-Alt-Net/" title="altnet website">Website</a>)</h5>
        <p>
            ALT.NET Sydney is one of the longest running Sydney .NET user groups, and focuses on the non-Microsoft world of being a .NET developer. Across the months there are talks on everything from DevOps to Xamarin, Cloud to browsers and everything in between.
        </p>
    </div>

    <div class="small-12 columns">
        <h5 id="umbraco">Sydney Umbraco User Group (<a href="https://www.meetup.com/Sydney-Umbraco-Meetup/" title="umbraco sydney website">Website</a>)</h5>
        <p>
            Umbraco is a popular Open Source content management system that prides itself on being all about the community engagement. They hold an annual Festival rather than a Conference in Denmark (obviously a bit of a hike for us in Sydney!) which is all about having fun as a web developer.
        </p>
    </div>

</div>
