

<div class="row">
    <div class="large-12">
        <h4>Where</h4>
        <p>
            DDD Sydney will be held at UTS, in level 3 of the Peter Johnson Building (CB06), with the entrance via Harris Street. The full address is <strong><a target="_blank" href="https://www.google.com.au/maps/place/Universal+Cafeteria/@("@")-33.8830694,151.1999196,17z/data=!4m8!1m2!2m1!1s702-730+Harris+Street,+Broadway,+NSW+2007!3m4!1s0x6b12ae266375a83f:0x4c640ab28f18c99b!8m2!3d-33.883173!4d151.201952?hl=en">702-730 Harris Street, Broadway, NSW 2007</a></strong>.
        </p>
        <p>
            Alternatively you can ask @Html.ActionLink("our bot", "Bot", "Main") how to get there ;).
        </p>
        <p>
            UTS's website details the <a href="http://maps.uts.edu.au/map.cfm">location</a>.
        </p>
    </div>
</div>


<div class="row where-grid">

    <div class="small-12 large-4 columns">
        <div class="blue panel shade">
            <i class="fa fa-train"></i>
            <h5>Train</h5>
        </div>
        <div class="blue panel">
            <p>
                The nearest train station is Central Station and UTS is a 2 minute walk from there.
            </p>
        </div>
    </div>

    <div class="small-12 large-4 columns">
        <div class="blue panel shade">
            <i class="fa fa-bus"></i>
            <h5>Bus</h5>
        </div>
        <div class="blue panel">
            <p>
                There's plenty of buses that run down Paramatta Road and stop at UTS.
            </p>
        </div>
    </div>

    <div class="small-12 large-4 columns">
        <div class="blue panel shade">
            <i class="fa fa-car"></i>
            <h5>Parking</h5>
        </div>
        <div class="blue panel">
            <p>
                Paid car parking is available around the university but keep in mind that this is pretty central so it won't be easy to find nor will it be cheap. Catch public transport ;).
            </p>
        </div>
    </div>

</div>