@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="copy-block row">
    <div class="large-8 columns">
        <h4>Votes submitted successfully!</h4>

        <p>
            Thank you for telling us the sessions you want to see.
        </p>

        <p>
            Remeber to grab your tickets!
        </p>

        <div class="booking-frame">
            <iframe src="//eventbrite.com.au/tickets-external?eid=34497049604&ref=etckt" frameborder="0" height="320" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        </div>
        <div class="booking-link">
            @Html.RouteLink("Register for DDD Sydney", "register", null, new { @class = "button" })
        </div>

    </div>

</div>
